#root {}


[data-sorted="asc"]:after {
    content: " ▲";
    position: relative;
    left: 8px
}

[data-sorted="desc"]:after {
    content: " ▼";
    position: relative;
    left: 8px
}

[data-sorted="unsorted"]:after {
    position: relative;
    left: 8px;
    content: " ▼";
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
}

[data-sorted="unsorted"]:hover:after {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}